@import "_reset.scss";
@import "_base.scss";
@import "_general.scss";

@media all and (max-width: 768px) {
  .gallery-grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0.625rem;
  }

  .gallery-main {
    padding: 0.625rem;
  }

  .contact-form-grid {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }

  .contact-main {
    padding: 0 0.625rem;
  }
}
