.container {
  max-width: 1200px;
  margin: 0 auto;
}

// Gallery Header

.gallery-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-flex li a {
  padding: 0.625rem 1.25rem;
  color: #000;
}

// Banner or Hero Section

.gallery-banner {
  padding-top: 10rem;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  text-align: center;
}

// Main Gallery

.gallery-main {
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.gallery-header {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.gallery-image {
  overflow: hidden;
  font-size: 0;
}

.gallery-image img {
  height: 12.5rem;
}

.gallery-heading {
  font-size: 2rem;
  text-align: center;
  padding: 12rem 0;
}

.gallery-para {
  padding-top: 5rem;
  font-size: 1.875rem;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.gallery-grid-container {
  margin: 0 auto;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 0;
}

.gallery-image img:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.1);
}

.logo-heading {
  font-weight: 700;
  font-size: 1.875rem;
  font-size: 3.2rem;
}

.gallery-logo img {
  padding-left: 1.5rem;
}

.logo-para {
  font-size: 1.25rem;
  font-weight: 700;
}

.menu ul li a:hover,
.active a {
  background: #388c9b;
  color: #ffffff;
}

// Footer

.gallery-footer {
  background: #e9f8da;
  padding: 1.25rem 0;
}

//##################### Contact ###########################

.contact-header {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.contact-banner {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  padding-bottom: 9.375rem;
  padding-top: 10rem;
  text-align: center;
}

.contact-main {
  padding: 5rem 0;
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.contact-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-flex li a {
  padding: 0.625rem 1.25rem;
  margin: 0;
  color: #000;
}

.contact-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-input,
.contact-textarea {
  display: block;
  width: 90%;
  border: 0;
  background-color: #eee;
  padding: 1.25rem;
  margin: 1.25rem 0;
  outline: 0;
}

.contact-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin: 0px auto;
}

.contact-social-media {
  padding-top: 1.5625rem;
  margin-left: 5%;
}

.contact-para {
  width: 90%;
  text-align: justify;
}

.contact-social-links i {
  font-size: 1.5625rem;
  line-height: 2.5;
  padding-right: 2.375rem;
  border-radius: 50%;
  color: #777;
}

.contact-social-media iframe {
  padding-top: 4.375rem;
}

.contact-social-links {
  display: flex;
  justify-content: space-evenly;
}

.contact-heading {
  font-size: 2.1875rem;
  padding: 0.9375rem 0;
}

.contact-para {
  font-size: 1.0625rem;
  padding-bottom: 0.9375rem;
}

.contact-btn {
  outline: 0;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  // border: inset 1px solid #ffffff;
  border-radius: 1.5625rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  margin: 2rem 0;
  font-size: 1.125rem;
}

.contact-footer {
  background: #e9f8da;
  padding: 1.25rem 0;
}

// Hover

.contact-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1ffce),
    to(#faffd1)
  );
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  border: inset 0.125rem solid snow;
}
.thank_btn {
  text-align: center;
}

// thankpage
.thank_hero {
  padding-top: 10rem;
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  text-align: center;
  font-size: 3.2rem;
  color: #55ba68;
  font-weight: 700;
}
.thank_para {
  background: url("../media/images/suraj\ bhayya.jpeg") no-repeat;
  height: 100vh;
  background-position: center;
  p {
    text-align: center;
    padding-top: 10rem;
    font-size: 25px;
    font-weight: 600;
    color: whitesmoke;
  }
}
