html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */
/* My Reset */
a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.ap-list {
  display: inline-block;
  margin-right: 2rem;
}

button {
  outline: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.ap-header {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.ap-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 1px #a7e3ee;
}

.ap-logo-heading {
  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
}

.ap-log-tagline {
  font-size: 1.2rem;
  font-family: "Amaranth", sans-serif;
  color: black;
}

.ap-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2rem 0;
}

.ap-navbar {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: black;
}

/* main section */
.ap-section-1 {
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  padding: 4rem;
  width: 100%;
}

.ap-section-1 .ap-flex {
  align-items: center;
}

.ap-section-2 {
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  padding: 4rem;
}

.ap-column {
  width: 70%;
}

.ap-heading {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Amaranth", sans-serif;
  padding: 1.5rem 0;
}

.ap-span {
  font-weight: 700;
}

.ap-paragraph {
  font-size: 1.5rem;
  color: black;
  font-family: "Quicksand", sans-serif;
}

.ap-button-wrapper {
  display: flex;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
}

.ap-btn {
  padding: 1rem 1.5rem;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  margin: 2rem;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 25px;
}

/* hero section */
.ap-hero-section {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.ap-heading-2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px #cae6ca;
  padding: 2rem 0;
}

.tagline {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  padding: 1rem 0;
}

/* contribute */
.ap-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 0 solid;
  border-radius: 25%;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  margin: 4rem 0;
}

.contribute-images {
  padding: 1rem 2rem;
}

/* form */
.ap-form-heading {
  font-size: 1.5rem;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px #cae6ca;
  padding: 1rem 0;
}

.ap-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.ap-input {
  margin: 1rem 0;
  padding: 1rem 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.ap-select {
  margin: 1rem 0;
  padding: 2rem 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

/* checkout page */
.social-images {
  padding: 0 1rem;
}

/* help me */
.ap-marquee {
  font-size: 2rem;
  color: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.ap-footer {
  background: #e9f8da;
  padding: 1.25rem 0;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 768px) {
  .ap-header .ap-navigation {
    display: none;
  }

  .ap-flex {
    display: block;
  }

  .ap-column {
    display: block;
    width: 100%;
  }

  .ap-heading {
    display: block;
    text-align: center;
  }

  .ap-paragraph {
    display: block;
    text-align: center;
  }

  .ap-images {
    display: none;
  }

  .ap-button-wrapper {
    display: block;
  }

  .ap-btn {
    width: 100%;
    margin: 1rem 0;
  }

  .ap-heading-2 {
    font-size: 1.5rem;
    display: block;
    text-align: center;
  }

  .contribute-images {
    display: none;
  }

  .ap-form-wrapper {
    display: block;
    width: 100%;
  }

  .ap-input {
    width: 100%;
  }

  .ap-form-heading {
    font-size: 1.5rem;
  }

  .ap-select {
    width: 100%;
    text-align: center;
    border: 1px;
    padding: 0.5rem 0;
  }

  .ap-marquee {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
