html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */
/* My Resrt */
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Amaranth", sans-serif;
  font-family: "Quicksand", sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.letter_specing_4 {
  letter-spacing: 0.4px;
}

.btn {
  outline: 0;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
}

.other-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.other_banner {
  font-family: "Amaranth", sans-serif;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1ffce),
    to(#faffd1)
  );
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.other_banner h2 {
  padding-top: 4rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #1c1c1c;
  padding-bottom: 2.6rem;
}

.other_banner img {
  width: 100%;
  height: 13rem;
}

.other_banner .other-btn {
  padding: 1.25rem 0 3rem 0;
  text-align: center;
}

.other_col1 {
  width: 46%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.other_col1 p {
  font-size: 1.25rem;
  color: #1c1c1c;
}

@media all and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 1.125rem;
  }
  .hero_banner_img {
    width: 100%;
  }
  .other_col1 {
    width: 100%;
    display: block;
  }
  .other-flex {
    display: block;
  }
}

.wild-banner {
  background: url("../media/images/deer1.gif") no-repeat;
  background-size: cover;
}

.wild-banner h2 {
  padding: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #f2f2f3;
}

.wild-image img {
  width: 300px;
  height: 250px;
  padding: 10px;
}

.other-container1 {
  max-width: 1140px;
  margin: 0 auto;
}

.other-container1 p {
  margin: 30px auto;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.wild-column {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-left: 300px;
}

.wild-column .wild-col1 {
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  bottom: 7px;
}

.wild-img img {
  width: 580px;
  height: 300px;
  padding: 0;
}

.wild-img {
  width: 47%;
  -ms-grid-column-align: right;
  justify-self: right;
}

.wild-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.wild-img2 {
  margin-left: 45px;
}

.wakeup {
  text-align: center;
}

.wakeup img {
  border-radius: 30px;
  width: 60%;
  height: 35rem;
}

.para1 {
  text-align: center;
}

.wild-form h2 {
  font-size: 30px;
  font-weight: 700;
}

.other-heading {
  text-align: center;
}

.wild-btn {
  padding: 1rem 0 3.1rem 0;
  text-align: center;
}

option,
.input {
  color: #213667;
  width: 100%;
  font-size: 16px;
  border: 1px solid #213667;
  margin-bottom: 30px;
  padding: 6px;
  outline: 0;
  background: transparent;
}

.flex-contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form input {
  display: block;
}

.form {
  text-align: center;
}

.contact {
  width: 70%;
  margin: 0 auto;
}

.btn-send {
  background: #2b4c57;
  color: #ffffff;
  font-size: 16px;
}

/* header */
.header {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.logo {
  padding-left: 24px;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #141414;
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 600;
  display: block;
}

.menu a:hover,
.active a {
  background: #388c9b;
  color: #ffffff;
}

.home_hero {
  padding-top: 7rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#acb6e5),
    to(#86fde8)
  );
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  position: relative;
  text-shadow: 1px 1px 1px #a7e3ee;
}

.home_hero h1 {
  font-size: 3.2rem;
  font-family: "Amaranth", sans-serif;
}

.home_hero h5 {
  font-size: 1.25rem;
  font-family: "Amaranth", sans-serif;
  color: black;
}

/* main section */
.home_section {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1ffce),
    to(#faffd1)
  );
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  padding: 4rem;
  width: 100%;
}

.home_section .column {
  width: 75%;
}

.home_section .column h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Amaranth", sans-serif;
  padding: 1.5rem 0;
}

.home_section .column h1 span {
  font-weight: 700;
}

.home_section .column p {
  font-size: 1.5rem;
  color: black;
  font-family: "Quicksand", sans-serif;
}

.home_btn {
  padding: 1rem 1.5rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#acb6e5),
    to(#86fde8)
  );
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  margin: 2rem 0;
  font-size: 1.5rem;
}

.home_btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1ffce),
    to(#faffd1)
  );
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  border: inset 2px solid snow;
}

.footer {
  background: #e9f8da;
  font-size: 1.125rem;
  text-align: center;
  padding: 20px 0;
}

#toggle,
.hamburger {
  display: none;
}

@media all and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .flex {
    display: block;
    text-align: left;
  }
  .home_hero {
    width: 100%;
    padding-top: 15rem;
  }
  .home_section .column {
    width: 100%;
    display: block;
  }
  .images {
    padding-top: 16px;
    width: 100%;
    display: block;
  }
  .hamburger {
    padding-right: 24px;
    font-size: 28px;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
  }
  #toggle:checked ~ .menu {
    display: block;
  }
  .menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 111;
    width: 100%;
    background: blanchedalmond;
    text-align: center;
  }
  .menu ul {
    padding: 20px 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .menu li {
    display: block;
    text-align: center;
  }
  .menu a {
    padding: 10px;
  }
  .menu a:hover {
    background: none;
  }
  .active a {
    background: none;
    color: black;
  }
  .home_hero {
    padding-top: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */
.gallery-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-flex li a {
  padding: 0.625rem 1.25rem;
  color: #000;
}

.gallery-banner {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-size: cover;
}

.gallery-main {
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.gallery-header {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.gallery-image {
  overflow: hidden;
  font-size: 0;
}

.gallery-image img {
  height: 12.5rem;
}

.gallery-heading {
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 0;
}

.gallery-para {
  padding-top: 5rem;
  font-size: 1.875rem;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.gallery-grid-container {
  margin: 0 auto;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 0;
}

.gallery-image img:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.1);
}

.logo-heading {
  font-weight: 700;
  font-size: 1.875rem;
  font-size: 3.2rem;
}

.gallery-logo img {
  padding-left: 1.5rem;
}

.logo-para {
  font-size: 1.25rem;
  font-weight: 700;
}

.menu ul li a:hover,
.active a {
  background: #388c9b;
  color: #ffffff;
}

.gallery-footer {
  background: #e9f8da;
  padding: 1.25rem 0;
}

.contact-header {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
}

.contact-banner {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  padding-bottom: 9.375rem;
}

.contact-main {
  padding: 5rem 0;
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
}

.contact-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-flex li a {
  padding: 0.625rem 1.25rem;
  margin: 0;
  color: #000;
}

.contact-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-input,
.contact-textarea {
  display: block;
  width: 90%;
  border: 0;
  background-color: #eee;
  padding: 1.25rem;
  margin: 1.25rem 0;
  outline: 0;
}

.contact-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin: 0px auto;
}

.contact-social-media {
  padding-top: 1.5625rem;
  margin-left: 5%;
}

.contact-para {
  width: 90%;
  text-align: justify;
}

.contact-social-links i {
  font-size: 1.5625rem;
  line-height: 2.5;
  padding-right: 2.375rem;
  border-radius: 50%;
  color: #777;
}

.contact-social-media iframe {
  padding-top: 4.375rem;
}

.contact-social-links {
  display: flex;
  justify-content: space-evenly;
}

.contact-heading {
  font-size: 2.1875rem;
  padding: 0.9375rem 0;
}

.contact-para {
  font-size: 1.0625rem;
  padding-bottom: 0.9375rem;
}

.contact-btn {
  outline: 0;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 1.5625rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  margin: 2rem 0;
  font-size: 1.125rem;
}

.contact-footer {
  background: #e9f8da;
  padding: 1.25rem 0;
}

.contact-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1ffce),
    to(#faffd1)
  );
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  border: 0.125rem solid snow;
}

@media all and (max-width: 764px) {
  .gallery-grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0.625rem;
  }

  .gallery-main {
    padding: 0.625rem;
  }

  .contact-form-grid {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }

  .contact-main {
    padding: 0 0.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
